swarm-ai==0.1.1
openai==1.13.1
pdfminer.six==20221105
python-dotenv==1.1.0
rich==13.8.0
streamlit==1.33.0
streamlit-extras==0.5.0
streamlit-option-menu==0.4.0
git+https://github.com/your-repository/swarm-ai.git
